@model FacultyViewModel

@if (Model.Faculty is not null)
{
    @*header*@
    <div class="text-center mt-20 mb-20">
        <h1 class="text-5xl font-900">Meet RIT Faculty and Staff members</h1>
    </div>
    <div class="mx-auto mt-10 w-full max-w-2xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            @foreach (var people in Model.Faculty)
            {

                <li class="py-3 sm:py-3">
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-12 h-12 rounded-full" src="@people.imagePath" alt="${item.name} image">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">@people.Name</p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400 email-address">@people.Email</p>
                        </div>
                        <div class="inline-flex text-sm items-center font-semibold text-gray-900 dark:text-white">@people.Title</div>
                    </div>
                </li>

            }
        </ul>
    </div>
    <section class="text-center mt-20 mb-20" id="section-button"></section>
}
else
{
    <div class="col-sm-12 col-lg-12 col-md-12">
        <h4>No data returned for news endpoint</h4>
    </div>
}

@section Scripts {
    <script>var $button = $('<a>', {
            href: '#'
        });
        $button.addClass('ui-button ui-widget ui-corner-all');
        $button.text('Back to top');
        $button.appendTo('#section-button');</script>
}